<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com/">

  <title>COACHERS - Quiz</title>

  <link rel="stylesheet" href="/seogram/assets/css/maicons.css">

  <link rel="stylesheet" href="/seogram/assets/css/bootstrap.css">

  <link rel="stylesheet" href="/seogram/assets/vendor/animate/animate.css">

  <link rel="stylesheet" href="/seogram/assets/css/theme.css">

</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <!-- Header -->
  <%- include('./userPartials/headerNavbar.ejs') %>
  <!-- header end -->
    <div class="page-section bg-light">
      <div style="padding-left: 10%;">
        
          <% var i = 1 %>
          <% questionsList.forEach(question=>{   %>
          
            <div class="quizpanel" id="quizpanel<%=i%>" style="width: 60%;">
                <div id="subject<%=i%>" value="<%=question.subject%>" hidden></div>
                <div id="topic<%=i%>" value="<%=question.topic%>" style="font-weight: bold; text-align: right ;" hidden><%=question.topic%></div>
                <div id="question<%=i%>" name="question<%=i%>" value="<%=question.question%>" style="font-weight: bold;"><span><%=i%></span>. <%= question.question %></div>
                  <div id="option<%=i%>div1"><input type="radio" id="option<%=i%>" name="option<%=i%>" value="A" textValue="<%= question.A %>"><span id="optt1"><span style="font-weight: bold;">A: </span> <%= question.A %> </span></div>
                  <div id="option<%=i%>div2"><input type="radio" id="option<%=i%>" name="option<%=i%>" value="B" textValue="<%= question.B %>"><span id="optt2"><span style="font-weight: bold;">B: </span><%= question.B %></span></div>
                  <div id="option<%=i%>div3"><input type="radio" id="option<%=i%>" name="option<%=i%>" value="C" textValue="<%= question.C %>"><span id="optt3"><span style="font-weight: bold;">C: </span><%= question.C %></span></div>
                  <div id="option<%=i%>div4"><input type="radio" id="option<%=i%>" name="option<%=i%>" value="D" textValue="<%= question.D %>"><span id="optt4"><span style="font-weight: bold;">D: </span><%= question.D %></span></div>
                  <div id="CorrectAnswer<%=i%>" value="<%=question.correctOption%>" hidden></div>
                  
            </div>
          </br>
          <% i++ %>
        <% }) %>
        <div id = "marks" style="font-size: 110%;font-weight: bold; padding: 10%; height: 5px;"></div>
        <button type="submit" class="btn btn-primary" onclick="checkAnswer()">Submit</button>
      </div>
      
      

      </div>

    <div class="container">
     

    </div> <!-- .container -->
  </div> <!-- .page-section -->

 
  

  <%- include('./userPartials/footer.ejs') %>

<script src="/seogram/assets/js/jquery-3.5.1.min.js"></script>

<script src="/seogram/assets/js/bootstrap.bundle.min.js"></script>

<script src="/seogram/assets/js/google-maps.js"></script>

<script src="/seogram/assets/vendor/wow/wow.min.js"></script>

<script src="/seogram/assets/js/theme.js"></script>

<script>

  function createJsonTouple(question, A, B, C, D, correctAnswer, optionChosen, subject, topic){
    return {
        question: question,
        A: A,
        B: B,
        C: C,
        D: D,
        correctAnswer: correctAnswer,
        optionChosen: optionChosen,
        subject: subject,
        topic: topic
    }
  }

  function checkAnswer() {
    let results = [];
    var ele = document.getElementsByTagName('input');
    for(var j = 0; j < ele.length; j++) {
        var radioButtons = document.getElementsByName("option"+(j+1));
        let options = []

        for(var i = 0; i < radioButtons.length; i++){
            options.push(radioButtons[i].getAttribute('textValue'));
        }

        for(var i = 0; i < radioButtons.length; i++){
            if(radioButtons[i].checked == true){
                chosenAnswer = radioButtons[i];
                results.push(createJsonTouple(
                  document.getElementById('question'+(j+1)).getAttribute('value'),
                  options[0],
                  options[1],
                  options[2],
                  options[3],
                  document.getElementById('CorrectAnswer'+(j+1)).getAttribute('value'),
                  chosenAnswer.value,
                  document.getElementById('subject'+(j+1)).getAttribute('value'),
                  document.getElementById('topic'+(j+1)).getAttribute('value'),
                ));
                break;
            }
            if(i == radioButtons.length-1){
              results.push(createJsonTouple(
                  document.getElementById('question'+(j+1)).getAttribute('value'),
                  options[0],
                  options[1],
                  options[2],
                  options[3],
                  document.getElementById('CorrectAnswer'+(j+1)).getAttribute('value'),
                  'X',
                  document.getElementById('subject'+(j+1)).getAttribute('value'),
                  document.getElementById('topic'+(j+1)).getAttribute('value'),
                ));
            }
        }

        
    }
    console.log('results', results)
    sendjson(results);
    showAnswers()
  }


  function showAnswers(){
    var totalMarks = 0, marksObtained = 0;
    var ele = document.getElementsByTagName('input');
    for(var j = 0; j < ele.length; j++) {
        totalMarks++;
        var correctOptionValue = (document.getElementById('CorrectAnswer'+(j+1))).getAttribute('value');
        var radioButtons = document.getElementsByName("option"+(j+1));

        var correctOptionDiv;
        for(var i = 0; i < radioButtons.length; i++){
            if(radioButtons[i].value == correctOptionValue){
              correctOptionDiv = document.getElementById('option' + (j+1) + 'div' + (i+1));
            }
        }
        

        for(var i = 0; i < radioButtons.length; i++){
            if(radioButtons[i].checked == true){
                var chosenOption = radioButtons[i];

                // Correct Answer
                if(chosenOption.value == correctOptionValue){
                    document.getElementById('quizpanel' + (j+1)).style.border  = '3px solid limegreen';
                    marksObtained++;
                }

                // Incorrect Answer
                else{
                    document.getElementById('quizpanel' + (j+1)).style.border  = '3px solid red';
                    correctOptionDiv.style.border = '3px solid limegreen';
                }                
                break;
            }
            
            // No option selected for this question
            if(i == radioButtons.length-1){
              document.getElementById('quizpanel' + (j+1)).style.border  = '3px solid red';
              correctOptionDiv.style.border = '3px solid limegreen';
            }
        }

        console.log(document.getElementById('topic' + (j+1)));
        document.getElementById('topic' + (j+1)).removeAttribute("hidden");

        document.getElementById('marks').innerHTML = 'Marks: ' + marksObtained + '/' + totalMarks;   
    }
    
  }

  function sendjson(result){
    let xhr = new XMLHttpRequest();
    let url = "/users/checkquiz";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    var data = JSON.stringify(result);
    xhr.send(data);

  }


</script>
</body>
</html>