<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com/">

  <title>COACHERS - Dashboard</title>

  <link rel="stylesheet" href="/seogram/assets/css/maicons.css">

  <link rel="stylesheet" href="/seogram/assets/css/bootstrap.css">

  <link rel="stylesheet" href="/seogram/assets/vendor/animate/animate.css">

  <link rel="stylesheet" href="/seogram/assets/css/theme.css">

  <script>
    function getTopics(){
        const subjectChosen = document.getElementById('subjectname').value;
        if(subjectChosen != '--'){
            window.location.replace("/users/quiz/" + subjectChosen);
        }
    }
</script>

</head>
<body >

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <!-- Header -->
  <%- include('./userPartials/headerNavbar.ejs') %>
  <!-- header end -->

  
  <!--row align-items-center justify-content-center g-0 min-vh-100-->
  <div class="page-section bg-light row align-items-left justify-content-left g-0 min-vh-30" style="padding-left: 10%;">

    <div class="page-section bg-light">
      <div class="container" >
        <div class="card smooth-shadow-md" style=" text-align: center; border-radius: 10px; box-shadow: 2px 3px 10px rgb(146, 128, 196);  text-align:center;" >
      
          <!-- Card body -->
          <div class="card-body p-6" style="text-align: center;">
                        
            <!-- Form -->
            <form action="/users/quiz" method="POST" style="align-items: center;">
              <!-- Username -->
              <div class="mb-3">
                <label for="Subjectname" class="form-label">Choose Subject:</label>
                <!-- <input type="text" id="text" class="form-control" name="subjectname" placeholder="subject" required=""> -->
  
                  <select id="subjectname" name="subjectname" onchange="getTopics()" style="width: 300px;">
                   
                    <% if(SubjectList.length>0){ %>
                         <% SubjectList.forEach(subject => { %>
                            <% if(chosenSubject != subject.name){   %>
                              <option>--</option>
                              <option>
                                   <%= subject.name %>
                                </option>
                            <% }else{   %>
                                <option  selected="selected">
                                   <%= subject.name %>
                                </option>
                            <% }    %>
                        
                        <% })   %>
                    <% } %>
                  </select>
                
              </div>
  
              <div class="mb-3">
                <label for="Topicname" class="form-label">Choose Topic</label>
                <!-- <input type="text" id="text" class="form-control" name="subjectname" placeholder="subject" required=""> -->
  
                  <select id="topicname" name="topicname" style="width: 300px;">
                  
                    <% if(topicsList.length>0){ %>
                         <% topicsList.forEach(topic => { %>
                            
                            <option >
                                <%= topic %>
                            </option>
                        
                        <% })   %>
                        <option >All Topics</option>
                    <% } else { %>
                        <option>No Topics Covered Yet</option>
                    <% }  %>
                  </select>
                
              </div>
              <div>
                <!-- Button -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Give Quiz</button>
                </div>
              </div>
  
  
            </form>
            
          </div>
      </div> <!-- .container -->
    </div>
  </div> <!-- .page-section -->
  </div>

  <%- include('./userPartials/footer.ejs') %>

<script src="/seogram/assets/js/jquery-3.5.1.min.js"></script>

<script src="/seogram/assets/js/bootstrap.bundle.min.js"></script>

<script src="/seogram/assets/js/google-maps.js"></script>

<script src="/seogram/assets/vendor/wow/wow.min.js"></script>

<script src="/seogram/assets/js/theme.js"></script>
  
</body>
</html>